{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-4">
            <img src="{{ url_for('static', filename='sIGN IN (1).jpg')}}" class="img-fluid rounded-start"
                style="width: auto ">

            <form method="POST" class="col-md-8">
                {{ form.hidden_tag() }}

                {{ form.username(class='form-control', placeholder='Username') }}
                {{ form.password(class='form-control', placeholder='Password') }}
                {{ form.submit(class='btn btn-primary') }}

            </form>
            {% endblock %}
        </div>
    </div>