{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-4">
            <img src="{{ url_for('static', filename='create account.jpg')}}" class="img-fluid rounded-start"
                style="width: auto ">

            <form method="POST" class="col-md-8">
        <form method="POST" class="col-4">
            {{ form.hidden_tag() }}

            {{ form.username(class='form-control', placeholder='Username') }}
            {{ form.email(class='form-control', placeholder='Email') }}
            {{ form.password(class='form-control', placeholder='Password') }}
            {{ form.confirm_password(class='form-control', placeholder='Confirm Password') }}
            {{ form.submit(class='btn btn-primary', placeholder='Submit') }}

        </form>

    </div>
</div>



{% endblock %}