{% extends 'base.html' %}

{% block content %}

<img src="{{ url_for('static', filename='allthepoke.jpeg')}}" class="img-fluid rounded-start">

<div class="container">
    <div class="row justify-content-center" >
    <form method='POST' class="col-4">

        {{ form.hidden_tag() }}
        {{ form.poke_name(class='form-control', placeholder = 'Search for Pokemon to Catch!') }}
        {{ form.submit(class='btn btn-primary', placeholder = 'Submit') }}
    </form>
    </div>

{% if poke_info %}
<br>
<br>

<div class="translate-middle">
    <div class="row">
      <div class="col-md-4">
        <img src="{{ poke_info.front_shiny }}" class="pokepic"><h2 class="card-title">{{ poke_info.name }}</h2>
      </div>
      <div class="col">
        <div class="card-body">
          
<br>
    <ul class="pokeinfo">
        <p>Ability</p>
        <li class="list-group-item">{{ poke_info.ability }}</li>
        <p>Base XP</p>
        <li class="list-group-item">{{ poke_info.base_xp }}</li>
        <p>Bask ATK</p>
        <li class="list-group-item">{{ poke_info.bask_atk }}</li>
        <p>Base HP</p>
        <li class="list-group-item">{{ poke_info.base_hp }}</li>
        <p>Base DEF</p>
        <li class="list-group-item">{{ poke_info.base_def }}</li>
        
    </ul>
    <div class="card-body align-items-center">
        <a href="{{url_for('pokesquad.catchPokemon', pokename = poke_info.name)}}" class="btn btn-warning btn-lg">Catch</a>
    
    </div>
    {% endif %}
</div>
</div>

{% endblock %}

